<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to the chat app</p>

    <form id="message-form">
        <input type="text" name="message" placeholder="message">
        <button type="sublit" id="submit-btn">Submit</button>
    </form>

    <button type="submit" id="send-location">Send Location</button>

    <!-- the scripts allows us to make connection to the backend -->
    <script src="socket.io/socket.io.js"></script>
    <!-- initial connection to connect to the backend -->
    <!-- and keep the connection alive-->
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>